.login-title{
    font-size: 4rem;
    margin: 1rem 3rem;
    text-align: left;
}
.login-input{
    text-align: center;
}
.login-btn-form{
    align-items: baseline;
    justify-content: center;
    margin-bottom: 2rem;
}
.btn-login{
        margin-top: 1rem;
        margin-left: 1rem;
        padding: 0.5rem 2rem;
        font-size: 1.6rem;
    }
    .login-navlink{
        align-items: center;
    }